/* color palette from <https://github.com/vuejs/theme> */
:root {
  /* CSS HEX */
  --safety-orange: #ff6900;
  --platinum: #e7e7e7ff;
  --azure: #0098ff;
  --mid-blue: #0018ff;
  --sgbus-green: #52df00ff;
  --black: #000000ff;
  --ost-deck-empty-color: rgba(255, 255, 255, 0);
  --ost-deck-fill-color: var(--safety-orange);
  --ost-songdata-font-color: var(--mid-blue);
  --color-text: var(var(--azure));
}

/* semantic color variables for this project */
:root {
  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--azure);
  background: var(--black);
  /* transition: color 0.5s;*/
  /* background-color 0.5s; */
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.box {
  width: 450px;
  height: 150px;
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
}

.right-aligned {
  margin-left: auto;
  margin-right: 0;
}

.songTitle {
  /* color: var(--ost-songdata-font-color);*/
  font-family: fantasy;
  font-size: xx-large;
}
.artist {
  /* color: var(--ost-songdata-font-color);*/
  font-family: fantasy;
  font-size: x-large;
}

.deckNumber {
  /*  color: var(--ost-songdata-font-color);*/
  font-family: fantasy;
}

.parent {
  display: flex;
}

.deckNumber {
  font-size: medium;
}

.textWrap {
  p {
    word-break: normal;
    white-space: normal;
    text-wrap-style: pretty;
  }
}

.slide-fade-enter-active {
  transition: all 0.5s ease-out;
}

.slide-fade-leave-active {
  transition: all 2s cubic-bezier(1, 0.5, 0.3, 1);
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  transform: translateX(50px);
  opacity: 0;
}
